# Ignore everything by default
*

# But allow these back in
!.gitignore
!*.py
!*.ipynb
!*.md
!requirements.txt
!MnTeData/
!MnTeData/0.800_MnTe.mcif
!MnTeData/xiIn_vs_T.txt
!MnTeData/xiOut_vs_T.txt
!MnTeData/m-v-T_1p5-20.txt
!MnTeData/fit_MnTe_stream_330K_1.5-20.txt
!NaMnO2Data/
!NaMnO2Data/fitStruc_triShortRange_005K.cif
!NaMnO2Data/1.409_NaMnO2.mcif
!NaMnO2Data/mPDFresults_NaMnO2_m-vs-T.txt
!NaMnO2Data/mPDFresults_NaMnO2_xi-vs-T.txt
!NaMnO2Data/mPDFfitSub280_50.0K.txt
!ZnMnTeData/
!ZnMnTeData/ZnMnTe_4K_fit.stru
!ZnMnTeData/finalfitsdmag_convolvedwindowfunc_normalizeddata_mvals.txt
!ZnMnTeData/finalfitsdmag_convolvedwindowfunc_normalizeddata_xivals.txt
!ZnMnTeData/finalfitsdmag_convolvedwindowfunc_normalizeddata_28K.txt
